<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-10-24T18:11:02Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jgoddard/Documents/CIS410/project3/project3.3/project3.3.xcodeproj</string>
</dict>
</plist>
